  <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
    <thead>
      <tr>
        <th scope="col" style="font-size: 14px; font-weight: normal; width: 65px;">{{ _('Current Version') }}</th>
        <th scope="col" style="font-size: 14px; font-weight: normal; width: 62px;">{{ _('Version Number') }}</th>
        <th scope="col" style="font-size: 14px; font-weight: normal;">{{ _('Name') }}</th>
        <th scope="col" style="font-size: 14px; font-weight: normal;">{{ _('Version Notes') }}</th>
        <th scope="col" style="font-size: 14px; font-weight: normal;">{{ _('Publish Date') }}</th>
        <th scope="col" style="font-size: 14px; font-weight: normal;">{{ _('Created by') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in resource_history %}
          <tr role="row">
            <td style="text-align: center;">
              {% if loop.index == 1 %}
                <i class="fa fa-check"></i>
              {% endif %}
            </td>
            <td style="text-align: center;">{{ resource.version.name }}</td>
            <td><a href="{{h.url_for('resource.read', id=resource.package_id, resource_id=resource.id, activity_id=resource.version.activity_id)}}">{{ resource.name }}</a></td>
            <td id="td-{{loop.index}}"><span id="foo-{{loop.index}}" style="white-space: nowrap;
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 80%;
              color: #222;"
              >{{ resource.version.notes }}</span>
              {% if resource.version.notes and resource.version.notes|length > 26 %}
                <b
                class="caret"
                style="color: #4885A7; position: absolute; margin-left: 20px; margin-top: 8px; cursor: pointer;"
                onclick="(function(){
                  $('#td-{{loop.index}}').toggleClass('dropup');
                  if( $('#foo-{{loop.index}}').css('white-space') == 'nowrap') {
                    $('#foo-{{loop.index}}').css('white-space', 'normal');
                  } else {
                    $('#foo-{{loop.index}}').css('white-space', 'nowrap');
                  }
                })();"></b>
            {% endif %}
            </td>
            <td>{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=resource.version.created %}</td>
            <td>{{ h.linked_user(resource.version.creator_user_id) }}</td>
          </tr>
      {% endfor %}
  </table>
