<!-- Modal -->
<div class="modal fade" id="createVersionModal" tabindex="-1" role="dialog" aria-labelledby="createVersionModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="create-version-form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="createVersionModalLabel">Create a new version pointing to the current state of this dataset</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="version_name">Version name</label>
              <input type="text" class="form-control" id="version_name" name="version_name" placeholder="version 1.2" required>
            </div>
            <div class="form-group">
              <label for="version-details">Description</label>
              <textarea id="version-details" name="details" class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Create Version</button>
          </div>
        </form>
      </div>
    </div>
  </div>
