{% ckan_extends %}

{% if c.current_version %}
  {% set can_edit = False %}
{% endif %}

{% block resource_item_title %}
  {% if not url_is_edit %}
    {% set url = h.url_for_version(pkg, controller='package', action='resource_read', resource_id=res.id, version=c.current_version) %}
  {% endif %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
{% endblock %}

{# This is copied here because I have no way to nicely override
   just the part I need which is to replace the resource URL
   with a revision aware one :(
#}
{% block resource_item_explore_links %}
  {% set url = h.url_for_version(pkg, controller='package', action='resource_read', resource_id=res.id, version=c.current_version) %}
  <li>
    <a href="{{ url }}">
      {% if res.has_views %}
        <i class="fa fa-bar-chart-o"></i>
        {{ _('Preview') }}
      {% else %}
        <i class="fa fa-info-circle"></i>
        {{ _('More information') }}
      {% endif %}
    </a>
  </li>
  {% if res.url and h.is_url(res.url) %}
  <li>
    <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
      {% if res.has_views or res.url_type == 'upload' %}
        <i class="fa fa-arrow-circle-o-down"></i>
        {{ _('Download') }}
      {% else %}
        <i class="fa fa-external-link"></i>
        {{ _('Go to resource') }}
      {% endif %}
    </a>
  </li>
  {% endif %}
  {% if can_edit %}
  <li>
    <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
      <i class="fa fa-pencil-square-o"></i>
      {{ _('Edit') }}
    </a>
  </li>
  {% endif %}
{% endblock %}
