<!-- Modal -->
<div class="modal fade" id="updateVersionModal" tabindex="-1" role="dialog" aria-labelledby="updateVersionModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="update-version-form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="updateVersionModalLabel">Edit Version {{ c.current_version.name }} of dataset {{ c.pkg.name }}</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="version_name">Version name</label>
              <input type="text" class="form-control" id="version_name" name="version_name" placeholder="version 1.2" value="{{ c.current_version.name }}" required>
            </div>
            <div class="form-group">
              <label for="version-details">Description</label>
              <textarea id="version-details" name="details" class="form-control" rows="3">{{ c.current_version.description }}</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
