{% set pkg = c.pkg_dict %}
{% set versions = c.versions %}
{% resource 'versions/dataset_versions.js' %}

<div id="versions-container"
    data-module="dataset_version_controls"
    data-module-api-url="{{ h.url_for('api.action', ver=3, logic_function='') }}"
    data-module-package-id="{{ pkg.id }}"
    data-module-package-url="{{ h.url_for(controller='package', action='read', id=pkg.name) }}"
    data-module-link-resources="{{ h.dataset_version_has_link_resources(pkg) }}"
    {% if c.current_version %}
        data-module-version-id="{{ c.current_version.id }}"
    {% endif %}>

  {% if not c.revision_date %}
    <h3>Versions</h3>
    {% if versions | length > 0 %}
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th scope="col">Version</th>
            <th scope="col">Description</th>
            <th scope="col">Published</th>
          </tr>
        </thead>
        <tbody>
        {% for version in versions %}
          <tr>
            <th scope="row" class="dataset-label">
              <a href="{{ h.url_for_version(pkg, version=version, controller='package', action='read') }}">
                {{ version.name }}
              </a>
            </th>
            <td class="dataset-details">
              {{ version.description }}
            </td>
            <td class="dataset-details">
              {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=version.created %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{{ _('There are no versions available for this dataset') }}</p>
    {% endif %}
  {% endif %}

  {% if c.current_version %}
    {% if h.check_access('dataset_version_delete', {'dataset': pkg.id}) %}
      <button data-version-id="{{ c.current_version.id }}"
              data-version-name="{{ c.current_version.name }}"
              class="delete-version-btn btn btn-danger">
        {{ _('Delete Version') }}
      </button>
    {% endif %}

    {% if h.check_access('dataset_version_create', {'dataset': pkg.id}) %}
    <button data-version-id="{{ c.current_version.id }}"
            data-version-name="{{ c.current_version.name }}"
            class="promote-version-btn btn btn-primary pull-right">
        {{ _('Promote Version') }}
    </button>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#updateVersionModal">
      {{ _('Edit Version Info') }}
    </button>
    {% snippet 'package/snippets/update_version.html' %}
    {% endif %}

  {% elif not c.revision_date %}
    {% if h.check_access('dataset_version_create', {'dataset': pkg.id}) %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVersionModal">
        {{ _('Create Version') }}
      </button>

      {% snippet 'package/snippets/create_version.html' %}

    {% endif %}
    {% if h.check_access('dataset_versions_diff', {'dataset': pkg.id}) %}
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#compareVersionsModal" />
        {{ _('Compare Versions') }}
      </button>

      {% snippet 'package/snippets/compare_versions.html', pkg=pkg %}
    {% endif %}
  {% endif %}

</div>
