{% ckan_extends %}

{% block resource_read_url %}
  {% if res.url and h.is_url(res.url) %}
    {% if is_activity_archive %}
      {% do res.update({'url': res.url + '?activity_id=' + h.get_request_param('activity_id')}) %}
    {% endif %}
  <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
  {% elif res.url %}
    <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
  {% endif %}
{% endblock %}