{% extends "package/resource_read.html" %}


{% block resource_actions_inner %}
<li>
  <div class="btn-group">
  <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}">
    {% if res.resource_type in ('listing', 'service') %}
      <i class="fa fa-eye"></i> {{ _('View') }}
    {% elif  res.resource_type == 'api' %}
      <i class="fa fa-key"></i> {{ _('API Endpoint') }}
    {% elif not res.has_views and not res.url_type == 'upload' %}
      <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
    {% else %}
      <i class="fa fa-arrow-circle-down"></i> {{ _('Download') }}
    {% endif %}
  </a>
  {% block download_resource_button %}{% endblock download_resource_button %}
  </div>
</li>
{% endblock %}

{% block action_manage %}
{% endblock action_manage %}


{% block resource_content %}
  {% block package_archive_notice %}
    <div id="activity-archive-notice" class="alert alert-warning">
      <span class="fa fa-info-circle"></span>
      {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
      You're currently viewing an older version of this dataset. 
      You can still download the resource and view it locally.
      To see the most recent data, <a href="{{ url }}">View the latest version</a>.
      {% endtrans %}
    </div>
  {% endblock %}
  {{ super() }}
{% endblock %}

{% block data_preview %}
{% endblock %}


{% block resources_list %}
{% endblock %}
