{% extends "package/base.html" %}

{% block subtitle %}{{ pkg_dict.name }} {{ g.template_title_delimiter }} Changes {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li>{% link_for _('Changes'), named_route='versions.changes', id=pkg_dict.name %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block package_changes_header %}
        <h1 class="page-heading">{{ _('Changes') }}</h1>
      {% endblock %}

      <form id="range_form" action="" data-module="select-switch" data-module-target="" class="form-inline">
      View changes from
        <select class="form-control select-time" form="range_form" name="version_id_1">
          {% snippet 'package/snippets/versions_select_options.html', versions=versions, selected_id=version_id_1 %}
        </select> to
        <select class="form-control select-time" form="range_form" name="version_id_2">

          {% snippet 'package/snippets/versions_select_options.html', versions=versions, selected_id=version_id_2, include_current=True %}
        </select>
      </form>

      <hr/>

      {% if diff %}
        {% snippet "package/snippets/change_item.html", diff=diff %}

        <input type="button" data-module="metadata-button" data-module-target="" class="btn" value="Show metadata diff" id="metadata_button"></input>
        <div id="metadata_diff" style="display:none;">
          <pre>
            {{ diff.diff|safe }}
          </pre>
        </div>
      {% endif %}

    </div>
  </article>

{% resource 'versions/metadata-button.js' %}  
{% resource 'versions/dataset_versions.css' %}  

{% endblock %}

{% block secondary %}{% endblock %}
