{% extends "package/read.html" %}

{% block package_description %}
  {% block package_archive_notice %}
    <div class="alert alert-warning">
      <span class="fa fa-info-circle"></span>
      {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
      You're currently viewing an older version of this dataset.
      You can still view the metadata and download the resource to explore it locally. To see the most recent data,
      <a href="{{ url }}">View the latest version</a>.
      {% endtrans %}
    </div>
  {% endblock %}

  {{ super() }}
{% endblock package_description %}

{% block package_resources %}
  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, is_versioned=is_versioned %}
{% endblock %}

{% block content_action %}
{% endblock %}
